body
{
    margin: 0;
}

.text 
{
    text-align: center;
}

a{
text-decoration: none;
color: var(--text-color);
}

:root{
    --text-color: whitesmoke;
    --theme-color: #86afa1;
    --curve-color: #3d8377;
}

